VITE_SUPABASE_URL=https://xrnbncidzqcpomrfhxcf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhybmJuY2lkenFjcG9tcmZoeGNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg1MzMyMTMsImV4cCI6MjA2NDEwOTIxM30.C5lCSOUgCBafGbcrArjgl-53hZ8RTM62xn57cfiQ9Ak